/*******************************************************************************
 *******************************************************************************
 ***** GENERAL *****************************************************************
 *******************************************************************************
 ******************************************************************************/

html {
	min-width:					100%;
	min-height:					100%;
	background:					#000;
	background:					url("../images/background/background-crop-009.jpg") no-repeat center center fixed;
	background-position: 		right;
	background-size:			cover;
}

body {
	width:						100%;
	height:						100%;
	min-width:					100%;
	min-height:					100%;
	margin:						0% 0%;
	position:					absolute;
}

p {
	text-indent:				2em;
}

ul {
	list-style: 				none;
}



/*******************************************************************************
 *******************************************************************************
 ***** NAVIGATION BAR **********************************************************
 *******************************************************************************
 ******************************************************************************/

nav {
	min-width:					100%;
	width:						100%;
	height:						78px;
	opacity:					0.8;
	background:					#000;
}

h1.nav {
	width:						258px;
	min-width:					245px;
	height:						100%;
	float:						left;
	padding:					0 0 0 15px;
	background:					#000;
	color:						#fff;
	font-family:				'Ubuntu', sans-serif;
	font-size:					2.3em;
}

ul.nav {
	height:						100%;
	display:					inline;
	float:						right;
}

ul.nav li {
	width:						20%;
	float:						left;
	text-align: 				center;
	font-family:				'Droid Sans', sans-serif;
}

ul.nav li a {
	width:						100%;
	display:					block;
	background:					#000;
	color:						#fff;
	text-decoration: 			none;
	transition:					all ease-in-out 0.4s;
	-webkit-transition			all ease-in-out 0.4s;
	-moz-transition				all ease-in-out 0.4s;
	-ms-transition				all ease-in-out 0.4s;
}

ul.nav li a:hover {
	background:					#629f6f;
	transition:					all ease-in-out 0.4s;
	-webkit-transition			all ease-in-out 0.4s;
	-moz-transition				all ease-in-out 0.4s;
	-ms-transition				all ease-in-out 0.4s;
}


/*******************************************************************************
 ***** BEGIN MEDIA QUERIES *****************************************************
 ******************************************************************************/

/*
 * Largest Screen Size
 * Navigation bar sits out to the right of my name.
 */
@media all and (min-width: 67.1em)
{
	input[type=checkbox], label {
    	display:				none;
	}

	ul.nav {
		width:					800px;
		float:					right;
	}

	ul.nav li {
		font-size:				1.5em;
	}
}

/*
 * Medium Screen Size
 * Navigation bar sits below my name and stretches all the way across.
 */
@media all and (min-width: 40.1em) and (max-width: 67em)
{
	input[type=checkbox], label {
    	display:				none;
	}

	ul.nav {
		width:					100%;
		display:				block;
	}

	ul.nav li {
		font-size:				1.5em;
	}
}

/*
 * Small Screen Size
 * Navigation bar collapses into a menu button that sits tn top right.
 */
@media all and (min-width: 1em) and (max-width: 40em)
{
	input[type=checkbox] {
    	display:				none;
	}

	ul.nav, label {
		width:					150px;
		display:				inline-block;
		position:				absolute;
	}

	label {
		height:					78px;
		top:					0;
		right:					0;
		z-index:				3;
    	background: 			#000;
    	color: 					#fff;
    	font-family:			'Droid Sans', sans-serif;
    	font-weight: 			bold;
    	font-size:				1.3em;
    	text-align: 			center;
    	transition:				all ease-in-out 0.4s;
		-webkit-transition		all ease-in-out 0.4s;
		-moz-transition			all ease-in-out 0.4s;
		-ms-transition			all ease-in-out 0.4s;
	}

	label:hover {
		background:				#629f6f;
		transition:				all ease-in-out 0.4s;
		-webkit-transition		all ease-in-out 0.4s;
		-moz-transition			all ease-in-out 0.4s;
		-ms-transition			all ease-in-out 0.4s;
	}

	ul.nav {
		height:					1em;
		float:					right;
		position:				absolute;
		top:					-50%;
		right:					0;
		z-index:				2;
		transition:				all ease-in-out 0.4s;
		-webkit-transition		all ease-in-out 0.4s;
		-moz-transition			all ease-in-out 0.4s;
		-ms-transition			all ease-in-out 0.4s;
	}

	ul.nav li {
		width:					100%;
		height:					20%;
		display:				inline-block;
		float:					right;
	}

	input[type=checkbox]:checked ~ ul.nav {
    	top:					78px;
    	transition:				all ease-in-out 0.4s;
		-webkit-transition		all ease-in-out 0.4s;
		-moz-transition			all ease-in-out 0.4s;
		-ms-transition			all ease-in-out 0.4s;
	}

	input[type=checkbox]:checked ~ label {
    	background:				#629f6f;
	}
}

/*******************************************************************************
 ***** END MEDIA QUERIES *******************************************************
 ******************************************************************************/



/*******************************************************************************
 *******************************************************************************
 ***** TEXT BOXES **************************************************************
 *******************************************************************************
 ******************************************************************************/

div.info-box {
	width:					36%;
	position:				absolute;
	top:					78px;
	bottom:					0;
	left:					5%;
	background:				#b9c7d4;
	opacity:				0.8;
	padding:				2% 2% 2% 2%;
	border-style:			solid;
	border-width: 			0 3px 0 3px;
	border-color: 			#000;
}

h2.info-box {
	width:					100%;
	font-family: 			'Merriweather', serif;
	font-size:				2.0em;
	text-align: 			center;
}

.info-box p {
	font-family:			'Droid Sans', sans-serif;
	font-size:				1.1em;
	line-height:			1.3em;
}

#contact-box p, #about-box p {
	text-indent: 			0
}

ul.projects img, ul.research img {
	display:				block;
	margin:					10px auto 20px auto;
}

.projects h3, .research h3 {
	margin-bottom:				5px;
	font-family: 			'Merriweather', serif;
	font-size:				1.25em;
}


@media all and (min-width: 67.1em)
{
	
}

@media all and (min-width: 40.1em) and (max-width: 67em)
{
	div.info-box {
		top:				156px;
		bottom:				0;
	}
}

@media all and (min-width: 1em) and (max-width: 40em)
{
	div.info-box {
		width:				initial;
		height:				initial;
		top:				78px;
		left:				0;
		bottom:				0;
		right:				0;
		padding:			20px 15px 15px 15px;
		border-width: 		0;
		z-index:			-1;
	}

}









footer {
	position:					fixed;
	padding:					2px;
	right:						0px;
	bottom:						0;
	color:						#fff;
	/*background-color: 			#000;*/
	opacity:					0.8;
}